# Ambiente virtual do Python
.venv/
venv/

# Banco de dados local
database.db
*.db

# Arquivos temporários do Python
__pycache__/
*.pyc

# Variáveis de ambiente
.env

# VS Code
.vscode/

# Arquivos do sistema
.DS_Store
Thumbs.db